{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

          {% if error %}
          <div class="alert alert-warning text-center mt-4">
            {{ error }}
          </div>
        {% else %}
          <h2 class="hero-title d-flex align-items-center justify-content-center mb-5">
            <span>{{ category.name|upper }}</span>
          </h2>
        {% endif %}

  {% if not error %}
  <div class="row g-4">
    {% for product in products %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-card">

          <div class="product-thumb">
            <a href="{% url 'products:product_detail' product.slug %}">
              {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
              {% else %}
                <img src="{% static 'assets/img/default.jpg' %}" alt="No Image">
              {% endif %}
            </a>
          </div>

          <div class="product-body">
            <h6>{{ product.name }}</h6>
            <p class="price">{{ product.price|floatformat:"0"|intcomma }} đ</p>

<!--            <a href="{% url 'cart:add' product.id %}" class="btn-add">-->
<!--              <i class="bi bi-cart-plus"></i> Thêm vào giỏ-->
<!--            </a>-->
          </div>

        </div>
      </div>
    {% empty %}
      <p class="text-center text-muted">Danh mục này chưa có sản phẩm.</p>
    {% endfor %}
  </div>
{% endif %}


</div>
{% endblock %}
