{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container py-5">
  <h2 class="text-center mb-4" style="color: #ff6f91;">TẤT CẢ SẢN PHẨM</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
      <div class="col d-flex">
        <a href="{% url 'product_detail' product.pk %}" class="card-link w-100 text-decoration-none text-dark">
          <div class="card shadow-sm h-100 flex-fill border-0 product-card">
            <img src="{{ product.image_url }}" class="card-img-top product-img" alt="{{ product.name }}">
            <div class="card-body d-flex flex-column align-items-center justify-content-between p-3">
              <div class="w-100">
                <h5 class="card-title text-center" style="color: #ff6f91;">{{ product.name }}</h5>
              </div>
              <div class="w-100 text-center">
                <p class="fw-bold mb-2" style="color: #b56576; font-size: 1.1rem;">{{ product.price }} đ</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

  </main>



</body>

{% endblock %}