{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-4">Liên hệ</h3>

    <div class="row">
        <div class="col-md-5">
            <p><b>Địa chỉ:</b> 116 Tô Hiến Thành, Phường 15, Quận 10, Thành phố Hồ Chí Minh, Việt Nam</p>
            <p><b>Điện thoại:</b> 038594052</p>
            <p><b>Email:</b> dalinlethi@gmail.com</p>
        </div>

        <div class="col-md-7">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3915761129438!2d106.66711897377499!3d10.781291459106548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed0b7e326a9%3A0x702b26078080ac7a!2zMTE2IFTDtCBIaeG6v24gVGjDoG5oLCBQaMaw4budbmcgMTUsIFF14bqtbiAxMCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1767047333838!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
